{{- $defaultConfig := .Site.Data.config.default.widgets.newsletter -}}
{{- $configData := ( or .Site.Data.config.widgets.newsletter $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

{{- $length := ( $config.length | default 5 ) -}}

<section class='widget widget-recent_posts sep-after'>
<form method="post" action="https://tacitstudio.email-provider.nl/subscribe/post/index.php" accept-charset="utf-8">
<input type="hidden" name="next" value="http://tacit.studio/over/bedankt/" />
<input type="hidden" name="a" value="nevbzna7ef" />
<input type="hidden" name="l" value="e9dltsgf5v" />
<label for="id-LZWh9oYIxc">De tacit.studio nieuwsbrief ontvangen?</label><br><input type="text" name="LZWh9oYIxc" placeholder="je email" id="id-LZWh9oYIxc">
<!-->
<label for="id-4voKHR7Sw4">Voornaam&nbsp;<small>(hoeft niet)</small></label><br><input type="text" name="4voKHR7Sw4" id="id-4voKHR7Sw4"><br><br>
<label for="id-hN19yjpRmg">Achternaam&nbsp;<small>(mag wel)</small></label><br><input type="text" name="hN19yjpRmg" id="id-hN19yjpRmg"><br><br> -->
<input type="submit" value="Ja graag!" class="button" />
</form>
</section>
