{{- $dateFormat := ( .Site.Params.settings.dateFormat | default "2006, Jan 02" ) -}}
<span class='posted-on'>
  <span class='screen-reader-text'>{{ i18n "postedOn" }} </span>
  <time class='entry-date' datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
    {{- .Date.Format $dateFormat -}}
  </time>
</span>
