{{- $sidebarEnabled := .Site.Params.sidebar.enable -}}
{{- $sidebarWidgets := .Site.Params.widgets.sidebar -}}

{{- if ( and $sidebarEnabled $sidebarWidgets ) -}}

<div id='sidebar' class='sidebar'>
  <a class='screen-reader-text' href='#main-menu'>{{ i18n "skipToMainMenu" }}</a>

  <div id='sidebar-container' class='container'>
  {{- partial "extras/widget_area" ( dict "Widgets" $sidebarWidgets "Scope" . ) -}}
  </div>

  <div class='sidebar-overlay'></div>
</div>

{{- else -}}

<a class='screen-reader-text' href='#content'>{{ i18n "skipToContent" }}</a>

{{- end -}}
