* {
  font-family: "roboto sans", "fira sans" sans-serif;
}

/* BASICS */

body {
  font-size: 1.25rem;
  padding-bottom: 2rem;
  color: #111;
}

a:link, a:visited {
  color: #C129BB;
}

a:hover {
  text-decoration: underline;
}

.menu a, .sidebar-toggler span, .sub-menu-toggler, .widget-social_menu a {
  color: #111;
}

.menu a:hover, .sidebar-toggler span, .sub-menu-toggler, .widget-social_menu a:hover {
  color: #C129BB;
}

h1, h2, h4, .title {
  font-weight: normal;
}
h1 {
  color: #C129BB;
}

h3 {
  font-weight: normal;
}

h1.title,
.header-info .title {
  font-size: 160%;
  color: #C129BB;
}

.site-title, h1 {
  margin-top: 1rem;
  font-size: 160%;
  color: #C129BB;
}

/* SIDEBAR */

#sidebar {
  padding-top: 6rem;
  position: relative;
  width: 280px;
}

#sidebar #sidebar-container {
  position: absolute;
  bottom: 4rem;
}

.widget-about .logo {
  max-width: 8rem;
  margin-bottom: 2rem;
}

#sidebar-menu {
  border: 5px solid white;
  margin: 0 0 3rem 0;
  padding: 1rem 0 1rem 1rem;
  border-image:
    url("../images/borderpattern.png")  /* source */
    0 0 5 0 /                    /* slice */
    5px 5px 5px 5px /    /* width */
    0px 0px 0px 0px       /* outset */
    round;                  /* repeat */
}

.sidebar-menu .has-current > a {
  font-style: normal;
}

.site-title {
  display: none;
}
.desc {
  font-style: normal;
}
.header-info .desc {
  font-style: italic;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.menu li {
  text-transform: lowercase;
  font-size: 125%;
}

body.home .main {
  padding: 0;
}
.container {
  max-width: 960px;
  padding: 0;
}

header#header {
  border: 5px solid white;
  margin: 0 1rem;
  padding: 0 2rem;
  border-image:
    url("../images/borderpattern.png")  /* source */
    0 0 0 5 /                    /* slice */
    0px 0px 0px 5px /    /* width */
    0px 0px 0px 0px       /* outset */
    round;                  /* repeat */
}

main#content {
  border: 5px solid white;
  margin: 0 1rem 4rem 1rem;
  padding: 2rem 1rem;
  border-image:
    url("../images/borderpattern.png")  /* source */
    5 5 0 0 /                    /* slice */
    5px 5px 0 0 /    /* width */
    0 0 0 0      /* outset */
    round;                  /* repeat */
}
.section main#content {
  border: 5px solid white;
  margin: 0 1rem 4rem 1rem;
  padding: 2rem 1rem;
  border-image:
    url("../images/borderpattern.png")  /* source */
    0 5px 0 0 /                    /* slice */
    0 5px 0 0 /    /* width */
    0 0 0 0       /* outset */
    round;                  /* repeat */
}


.sep-after::after, .sep-before::before {
	content: "";
	display: block;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	border-bottom: 0;
}

.footer .container {
  padding: 0 1rem;
}
.footer a {
  font-style: normal;
}

.footer .container > section.widget-recent_posts {
  margin-top: 4rem;
}

.footer .container > div.copyright {
  margin-top: 16rem;
}

/* LISTS */
.list h2.item-title {
  font-size: 3rem;
}
.list .item .entry-content {
  margin-top: 1rem;
  padding-left: 0;
  padding-bottom: 4rem;
}
.list .item {
  display: block;
  margin-bottom: 4rem;
  margin: 0 2rem 3rem 0;
  padding: 0 1rem 1rem 0;
  border: 5px solid white;
  border-image:
    url("../images/borderpattern.png")  /* source */
    0 0 5 0 /                    /* slice */
    0 0 5px 0 /    /* width */
    0 0 0 0       /* outset */
    round;                  /* repeat */
}
.list .item figure {
  margin-top: 1rem;
}
.list .item a:link {
  border-bottom: none;
}
.list .item-link a {
  color: black;
}
.list .item a:hover {
  border-bottom: 2px solid;
  border-bottom-color: var(--color-accent);
  text-decoration: none;
}
.type-blog .list .item {
  margin-left: 0;
  padding: 2rem 0;
}
.type-diensten .list .item {
  margin: 2rem 0;
}
.type-diensten .list .item .entry-cover {
  margin-right: 2rem;
  min-width: 16rem;
}

/* CONTENT */


.comment-content a, .entry-content a {
  border-bottom: none;
}

.item-title, .list .item-title {
  font-weight: bold;
}

/* FORMS */
input {
  max-width: 20rem;
  margin-top: 0.5rem;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
	width: auto;
	padding: .65em .75em;
	border: 1px solid #C129BB;
	border-radius: .2em;
	background: #C129BB;
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 1px;
	white-space: nowrap;
	text-transform: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	transition: .1s ease-in-out;
}

h1#dutch-media-week-2021dmw {
  padding: 1rem;
  border: #C129BB 4px solid;
}


@media (min-width: 760px) {
  main#content {
    margin: 0 4rem 4rem 1rem;
    padding-left: 2rem;
    padding-top: 2rem;
  }
  
  .home main#content {
    padding-top: 20.9rem;
  }
  .header-info .title,
  .site-title, h1 {
    margin-top: 1rem;
    font-size: 300%;
    color: #C129BB;
    font-weight: normal;
	}

	h1.title {
		font-size: 300%;
    color: #C129BB;
    font-weight: normal;
	}

	.footer .container {
    padding: 0 3.5rem;
  }

  body.type-dmw li.item .entry-cover {
     max-width: 50%;
  }

  .type-diensten .list .item {
    display: flex;
  }
  .type-diensten .list .item .entry-cover {
    flex: initial;
  }
  .type-diensten .list .item .entry-content {
    flex: auto;
  } 


}
