<li class='item'>
  <header class='item-header'>
    {{ partial "entry/cover" . }}



  </header>
  <div class='container entry-content'>
    <h2>
      <a href='{{ .Permalink | relURL }}'>
        {{- .Title -}}
      </a>
    </h2>
    <p class="item-link">      <a href='{{ .Permalink | relURL }}'>
            {{- .Description -}}
          </a>
    </p>
  </div>
</li>
