<li class='item'>
  <header class='item-header'>
    <h2>
      <a href='{{ .Permalink | relURL }}'>
        {{- .Title -}}
      </a>
    </h2>
  </header>
  <div class='container entry-content'>
    <p>      <a href='{{ .Permalink | relURL }}'>
            {{- .Description -}}
          </a>
    </p>
  </div>
</li>
