<li class='item'>
  <header class='item-header'>
    <h2 class='item-title'>
      <a href='{{ .Permalink | relURL }}'>
        {{- .Title -}}
      </a>
    </h2>
  </header>
  <div class='meta'>
    {{ partial "list/date" . }}
  </div>
  <div class='container entry-content'>
  {{ .Content }}
</div>
</li>
