{{ partial "header.html" . }}
<main>
  <div>
    <h1>{{ .Title }}</h1>
    {{ .Content }}


        <ul class="list">
        <!-- Renders the li.html content view for each content/posts/*.md -->
            {{ range .Pages }}
                {{ .Render "li-diensten"}}
            {{ end }}
        </ul>
  </div>
</main>
{{ partial "footer.html" . }}
