{{ partial "header.html" . }}
<main>
  <div>
   <h1>{{ .Title }}</h1>
        <ul class="list">
        <!-- Renders the li.html content view for each content/posts/*.md -->
            {{ range .Pages }}
                {{ .Render "li-simple"}}
            {{ end }}
        </ul>
  </div>
</main>
{{ partial "footer.html" . }}